/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

snack-bar-container.warn {
    background-color: #d73434;
    color: #fff;
}

snack-bar-container.success {
    background-color: #29ae59;
    color: #fff;
}
